<!DOCTYPE HTML>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Spectra</title>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <style type="text/css">

    </style>
    <script type="text/javascript">
        var options = null;
        var series = [];
        var chart;
    $$(function() {
        options = {

            plotOptions: {
                line: {
                    animation: false,
                    enableMouseTracking: false
                }

            },
            chart: {
                zoomType: 'x',
                renderTo: "plot"
            },
            title: {
                x: -20 //center
            },
            xAxis: {
                tickInterval: 50,
                categories: ${cats}
            },
            yAxis: {
                title: {
                    text: 'Intensity'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },

            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: []
        };
        chart = new Highcharts.Chart(options);
        $$.ajax("spectra.txt", {
            success: function (data) {
                var rows = data.split("\n");
                for (var row in rows) {
                    var points = rows[row].split(",");
                    var pointsFloat = [];
                    for (var idx in points) {
                        pointsFloat.push(parseFloat(points[idx]))
                    }
                    series.push(pointsFloat)
                }
                options.series = series;
                //show graph by default
                showSpectra($$('#spectra_list option'));
                console.log("shown");
            }
        })         
    });
        function showSpectra(selected){
            var selectedNames =[];
            var selectedIndex =[];
            for(var opt in selected.toArray())
            {
                selectedIndex.push(selected[opt].index);
                selectedNames.push(selected[opt].text);
            }
            var chart_data = [];
            for(var idx in series)
            {
                var indexInSelected = selectedIndex.indexOf(parseInt(idx));
                if(indexInSelected != -1)
                {

                    chart_data.push({"data": series[idx], "name": selectedNames[indexInSelected]});
                }
            }
            options.series = chart_data;
            chart = new Highcharts.Chart(options);        
        }
        function reloadSpectra()
        {
            console.log("reloading")
            var selected = $$('#spectra_list').find(":selected");
            showSpectra(selected);
        }
    </script>
  </head>
<body>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
      <h1>Spectra</h1>
    <form  id="spectra_list">
        <select style="height: 200px;min-width:100%" name="spectra" multiple>
                ${list}
        </select>
    </form>
   <button onclick="reloadSpectra()" style="font-size: 120%;margin: 20px;width:100px">Load</button>

    <div id="plot" style="height: 400px; min-width: 310px; margin: 0 auto"></div>
</body>
</html>
